<!doctype html>
<html lang="en">
    <head>
        <title>Combinational Logic</title>
    </head>
    <body>
        <h1>REST API to demonstrate combinational logic</h1>
        
        <h2>To do:</h2>
        <ul>
            <li>Implementation guide</li>
            <li>Installation &amp; deployment guide</li>
            <li>Future development</li>
        </ul>
        
        <h3>Watch this space</h3>
        
        <a href="ashwilliams.co.uk">Get in touch</a>
    </body>
</html>